
:local(.Login) {
 color: white;
  margin-top: 15%;

  h2{
    text-align: center;
  }
  form {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    width: 70%;
    margin: auto;

    input {
      border: none;
      border-bottom: 1px solid black;
    }

    input:focus {
      outline: none;
      background-color: cyan;
    }

    button {
      width: 25%;
      justify-self: center;
      border-radius: 15%;
    }
  }
}